* {
  margin: 0px;
  padding: 0px;
  background-origin: border-box;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header__text_one {
  font-size: 30px;
  font-weight: 800;
}

.header__text_two {
  display: flex;
  list-style: none;
}
.header__text_two_t {
  margin-right: 20px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}
.header__text_three_t {
  color: grey;
  font-size: 25px;
  font-weight: 800;
}
.header__container {
  padding: 30px;
  display: flex;
  justify-content: space-between;
}
.main {
}
.main__container {
  display: flex;
  border: 1px solid red;
  width: auto;
}
.s{
  width: 0 auto;
}
.main__container__one{
}
.main__container__one img {
  width: 700;
}
.main__container__two {
  font-size: 80px;
  font-weight: 800;
  padding: 100px;
  background-color: #F8ECEB;
  width: auto;
}
.material__bo{
  display: flex;
  justify-content: center;
  align-items: center;
}
.material__box {
  display: flex;
  justify-content: space-between;
}
.material__box__left {
  display: flex;
}
.material__box__right {
  display: flex;
}
