.login{
    width: 60%;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    text-align: center;
}
.login__box{
    display: block;
    margin-left: 20px;
    background-color: white;
    width: 350px;
    border: 1px solid rgb(210, 210, 210);
    padding: 20px;
    margin-top: 15px;
}
.login__form input{
    height: 40px;
    margin-bottom: 5px;
    border: 1px solid rgb(210, 210, 210);
}
.login__app{
    display: flex;
    justify-content: center;
}
.login__app img{
    width: 146px;
    height: 40px;
}

.login__form{
    display: block;
}
.login__form form input,button{
    width: 100%;
}